doctype html

html
    
    head
        
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- attributes are always enclosed in brackets 
        //- express will look for these assets in /public directory as we have specified this directory to be used to serve static files.Notice that href path starts with '/' to ensure that these assests are looked by express starting from the root path of the domain name.
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon" type="/image/png" href="/img/favicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Natours | #{title}
        //- Like we use ${variableName} in template string in pug we use #{variableName}
        //- title Natours | #{tour}
        
    body
        //- Introductory notes
        //- this 'tour' variable is sent inside an object sent from the route that is rendering this template 
        //- h1= tour
        //- we can run normal javascript on these variables
        //- h2= user.toUpperCase()
        //- Buffered code is actually sent to the client with the template. Unbuffered code is not sent to client instead it is used for logical processing in the template. An unfbuffered code start with '-' without code as below
        //- - const x = 9; //- Unbuffered code
        //- h2= 2 * x //- Buffered code
        
        // HEADER 
        //- ('_header' is the child template of 'base' template)
        include _header 
        
        // CONTENT
        block content 
            h1 This is placeholder heading
        
        // FOOTER
        //- ('_footer' is the child template of 'base' template)
        include _footer